# Ignore virtual environment directories
venv/
env/

# Ignore IDE and editor-specific files
.idea/
.vscode/

# Ignore compiled Python files
.pyc
__pycache__
# Ignore environment configuration files
.env
