{% extends "main.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<h1 class="mt-4">Home Page</h1>
<div class="row">
    <div class="col-md-6">
        <h2>Tables</h2>
        <ul class="list-group">
            {% for table in tables %}
                <li class="list-group-item">Table Code: {{ table.code }}
                    <br>
                    Description:{{table.description}}
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h2>Reservations</h2>
        <ul class="list-group">
            {% for reservation in reservations %}
                <li class="list-group-item">
                    Reservation for {{ reservation.user.username }} on {{ reservation.reserv_date }} at Table {{ reservation.table.code }}
                    <a href="{% url 'update_reservation' reservation.pk %}" class="btn btn-sm btn-primary">Update</a>
                </li>
                
            {% endfor %}
            <a href="{% url 'reservation' %}" class="btn btn-primary">Create a Reservation</a>

        </ul>
    </div>
</div>
{% endblock %}
